.App {
  font-family: sans-serif;
  text-align: center;
}
html {
  background-color: #ededed;
  font: normal 14px / 20px "Roboto", sans-serif;
  padding: 0 0 25px;
}
.card {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25), 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 340px;
}
.card-media {
  width: 100%;
}
.card-details {
  padding: 5px 15px;
  align-items: center;
}
.card-form {
  padding: 5px 15px;
  align-items: center;
}
.card-head {
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 15px;
}
.card-action-button {
  border-radius: 2px;
  color: #ffab40;
  cursor: pointer;
  padding: 10px;
  margin: 0;
  font-weight: 500;
  text-decoration: none;
}
.card-action-add-button {
  padding-left: 100px;
  margin-top: 50px;
}
.card-action-button:hover {
  background-color: rgba(255, 168, 58, 0.2);
}
.card-textarea {
  width: 80%;
}
.card-add-button {
}
.card-textarea-title-container {
  margin: 20px;
  border-color: blue;
  width: 100%;
}
.card-textarea-content-container {
  margin: 20px;
  border-color: blue;
  width: 100%;
}
.upload-container {
  margin-left: 20px;
  display: flex;
}
.upload-button-container {
  margin-right: 10px;
}
.path-container {
  width: 50%;
}
.upload-button {
  margin-left: 5px;
}
